/* New tab - dark */
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
    background: #2A2A2E !important
}

/* Findbar - top */
.browserContainer > findbar {
  -moz-box-ordinal-group: 0;
  position: fixed !important;
  animation: 0.2s scale-in;
  background: var(--toolbar-bgcolor) !important;
  border-top-width: 0 !important;
  border-bottom: 1px solid threeddarkshadow !important;
  padding-right: 2em;
  direction: rtl !important;
}

.browserContainer > findbar .found-matches,
hbox[anonid=findbar-textbox-wrapper] {
  direction: ltr !important;
}

.browserContainer > findbar .findbar-highlight {
  margin-right: 1em !important;
}

/* Private browsing tab background - purple  */
#main-window[privatebrowsingmode="temporary"] #navigator-toolbox {
   background-color: #CBC3E3 !important;
}
