/* Dark new tab */
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
    background: #1D1B19 !important
}

/* Top findbar */
.browserContainer > findbar {
  -moz-box-ordinal-group: 0;
  position: fixed !important;
  animation: 0.2s scale-in;
  background: var(--toolbar-bgcolor) !important;
  border-top-width: 0 !important;
  border-bottom: 1px solid threeddarkshadow !important;
  padding-right: 2em;
  direction: rtl !important;
  margin-bottom: -3em !important;
  z-index: 2147483647 !important;
}

.browserContainer > findbar .findbar-closebutton {
  direction: rtl !important;
}

.browserContainer > findbar .found-matches,
.browserContainer > findbar .findbar-textbox {
  direction: ltr !important
}
